<div class="job">
    <h1>Bumblebee</h1>
    <div class="description">
        <img src="../../../assets/images/EsculturaBumblebee01.jpg" alt="bumblebee" width="250px" height="300px">
        <div class="info">
            <h2 id="descripcion">Descripcion</h2>
            <p>Bumblebee, fue uno de los primeros Autobots que estuvo con Optimus Prime cuando el arca chocó contra la Tierra, hace 4 millones de años. Siempre ha sido un fiel Autobot y algo que lo ha caracterizado es su relación con los humanos, en especial con el joven Spike.</p>
        </div>
    </div>
</div>
